# intellij stuff
.idea/
*.iml

# java build stuff
target/

# vim stuff
*~

# sensitive info
.token
.config
configuration.ini

# python build stuff
__pycache__/
*.pyc
.cache/

# chatterbot db
chatterbotdb.sqlite3.db

# log files
*.log

# decrypted key
travis_deploy_key

# debug
debug.py

# graph exports
common/offline_graphs/*.png
